<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Shripad and his junkyard</title>
  </head>
  <body>
    {{> header}}

    <p>Will write more about me when I am done with nodejs</p>

    {{> footer}}
  </body>
</html>
